$background-color-primary: linear-gradient(45deg, #008a6c, #00538a, #7337ff);
$background-color-secondary: #000000;

$btn-green: (
  background: #01c298,
  border-left: #008a6c,
  border-bottom: #016953,
);

$btn-purple: (
  background: #8957fd,
  border-left: #7337ff,
  border-bottom: #5810ff,
);

$gif-border-color: linear-gradient(220deg, #f73c3c, #fcff4a, #008a6c, #00538a, #7337ff);

$error-color: crimson;

$text-color-base: #ffffff;
